body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #222222;
}

/* header {
  border: 1px rgb(255, 102, 0) solid;
} */

.header-A {
  /* border: 1px rgb(43, 226, 208) solid; */
  display: flex;
  justify-content: space-evenly;
}

.header-A div {
  /* border: 1px blueviolet solid; */
  padding: 0px 15px;
}

.header-A img {
  padding: 5px 0px 0px 0px;
}
.box-1:hover, .box-2:hover, .box-3:hover, .box-4:hover, .box-5:hover, .box-6:hover, .box-7:hover  {
  text-decoration: underline;
}

/* HEADER LEFT */

.box-1 {
  margin: 0px 0px 0px 3px;
}

.box-2 {
  margin: 0px 0px 0px -10px;
}

.box-3 {
  flex-grow: 1;
}

/* HEADER RIGHT */

.box-4, .box-5 {
  font-size: 13px;
  color: #222222;
}

.box-4 {
  margin: 1px -15px 0px 0px;
}

.box-5 {
  margin: 1px 0px 0px 0px;
}

.box-6 {
  margin: 8px -7px 0px 0px;
}

.box-7 {
  margin: 1px -5px 0px 0px;
}

section div {
  display: flex;
  justify-content: center;
  align-content: space-between;
  background-color: rgb(255, 255, 255);
}

.biglogo {
  /* border: 1px rgb(255, 0, 0) solid; */
  border: 1px rgb(255, 255, 255) solid;
  margin: 205px 0px 16px 0px;
  text-align: center;
}

.gmag {
  transform: translate(41px, 8px);
}

.gmic {
  transform: translate(-45px, 8px);
}

.searchbox {
  /* border: 1px rgb(255, 0, 0) solid; */
  border: 1px rgb(255, 255, 255) solid;
  display: block;
  text-align: center;
}

input[type=text] {
  border: 1px solid #dbdbdb;
  border-radius: 25px 25px 25px 25px;
  width: 30.7%;
  padding: 14px 20px 15px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  border-radius: 5px;
  border: none;
  background-color: #f8f9fa;
  color: #3c4043;
  font-size: 14px;
  padding: 10px 18px;
  margin: 20px 5px;
}

button:hover {
  box-shadow: -1px 2px 4px -2px rgba(0,0,0,0.49);
}

.search1:hover {
  margin: 9px 0px;
  border: none;
  box-shadow: 2px 2px 12px -2px rgba(0,0,0,0.49);
}

.footer-A {
    /* Visual Aid */
  /* border: 1px rgb(255, 0, 0) solid; */
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  color: #70757A;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.footer-A div {
  /* Visual Aid */
  /* border: 1px rgb(0, 0, 255) solid; */
  /* justify-content: space-evenly; */
  padding: 0px 10px 0px 20px;
}

.fbox-1 {
  margin: 0px 0px 1px 15px;
}

.fbox-2 {
  margin: 0px 0px 1px 0px;
}

.fbox-3 {
  margin: 0px 0px 1px 0px;
}

.fbox-5 {
  transform: translate(-55.5px, -1px)
}

.gleaf {
  transform: translate(496.5px, 0px)
  scale(.58)
}

.fbox-7 {
  margin: 0px 0px 1px 0px;
}

.fbox-8 {
  margin: 0px 0px 1px 0px;
}

.fbox-9 {
  margin: 0px 25px 1px 0px;
}


.fbox-4, .fbox-6 {
  flex-grow: 1;
}

.fbox-1:hover, .fbox-2:hover, .fbox-3:hover, .fbox-4:hover, .fbox-5:hover, .fbox-6:hover, .fbox-7:hover, .fbox-8:hover, .fbox-9:hover  {
  text-decoration: underline;
}